html,
body,
.container-fluid,
.content-row {
    height: 100%;
}
body {
    background-image: url('../photo/cork.jpg');


}
.hide {
    display: none;
}

.city-btn:hover {
    background-color: #f6f5f5;
    cursor: pointer;
}

.card {
    background-color: #cce5ff;
}
.fonts {
    font-weight: bold;
    font-size: 20px;
}
.text-muted {
    color: darkslategrey;

}
.bold {
    font-weight: bolder;
}
